// https://paletton.com/#uid=53S0u0kllllaFw0g0qFqFg0w0aF
.app.theme--dark {
  --primary-bg-color: #022835;
  --secondary-bg-color: #07103A;
  --primary-font-color: #6C929F;
  --secondary-font-color: #515E91;
  --primary-color: #26596A;
  --secondary-color: #303C74;
}
