// https://paletton.com/#uid=55C0u0kllllaFw0g0qFqFg0w0aF
.app.theme--light {
  --primary-bg-color: #FFD0AA;
  --secondary-bg-color: #CB87AF;
  --primary-font-color: #552600;
  --secondary-font-color: #A95486;
  --primary-color: #AA6B39;
  --secondary-color: #872D62;
}
